body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-image: url(https://i.pinimg.com/originals/38/92/dd/3892ddc66d8112551b93a9abf4e53d17.jpg);
    background-size: cover;
}

#tilbakeknapp {
    position: fixed;
    left: 10px;
    bottom: 10px;
    color: black;
    text-decoration: none;
    font-size: medium;
    background-color: white;
    border: none;
    padding: 10px;
    font-size: 17px;
    font-weight: bold;
}

#tilbakeknapp i {
    font-size: larger;
}

#tilbakeknapp:hover {
    color: purple;
}