* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background-image: url(https://i.pinimg.com/originals/38/92/dd/3892ddc66d8112551b93a9abf4e53d17.jpg);
    background-size: cover;
}

h1 {
    text-align: center;
    font-size: 100px;
    line-height: 0;
}
#toppen p {
    max-width: 800px;
    margin: auto;
}
#toppen {
    margin-bottom: 50px;
}

#spill_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
#spill_container img {
    width: 400px;
    height: 190px;
}
#spill_container video {
    width: 400px;
    height: 190px;
    border: solid 5px black;
}

.hidden {
    display: none;
}