body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#snake {
    display: flex;
    margin-top: 50px;
    justify-content: center;
}

#spill_info {
    padding: 20px;
    height: 460px;
    width: 150px;
    background-color: aliceblue;
}

#spill_info h1 {
    line-height: 20px;
}