canvas {
    border: solid 5px purple;
}

#snake {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#spill_info {
    padding: 20px;
    height: 460px;
    width: 150px;
    background-color: purple;
    border: solid 5px purple;
}

#spill_info h1 {
    line-height: 20px;
}