#board {
    background-color: black;
    border-top: 5px solid skyblue;
    border-bottom: 5px solid skyblue;
}

canvas {
    border: solid 5px purple;
}

#pong {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#overskrift {
    padding: 20px;
    height: 460px;
    width: 150px;
    background-color: purple;
    border: solid 5px purple;
    font-size: xx-large;
}

#overskrift h1 {
    line-height: 50px;
}
